@inherits FileViewBase
@if(ChildContent is null)
{
    <figure @attributes=Attributes>
        <img src="@File.ImageDataUrl" class="@Options.ImagePreviewCss" />
        @if(OnRemove.HasDelegate)
        {
            <span @onclick=Remove>X</span>
        }
        else
        {
            if (Options.CanDeleteIfNotCallBack)
            {
                <span @onclick="() => GlobalEvents.OnItemDeleted(File)">X</span>
            }
        }
    </figure>
}
else
{
    @ChildContent(File)
}